# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Coffee Machine (Java)/*
!/Coffee Machine (Java)/task/
/Coffee Machine (Java)/task/*
!/Coffee Machine (Java)/task/src/
!/Coffee Machine (Java)/task/build.gradle
!/Coffee Machine (Java)/task/build.gradle.kts

# Project exclude paths
/Topics/Debugging techniques/Find the error/out/
/Topics/Debugging techniques/Find the error/out/production/classes/
/Topics/Iterating over arrays/Alphabetical order/out/
/Topics/Iterating over arrays/Alphabetical order/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Math library/The angle between vectors/out/
/Topics/Math library/The angle between vectors/out/production/classes/
/Topics/Processing strings/Find the first occurrence of the word  the/out/
/Topics/Processing strings/Find the first occurrence of the word  the/out/production/classes/